*{
text-align: center;
justify-items: center;
justify-content: center;
}
button{
  width: 170px;
}
.wrap{

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.list{
  text-align: left;
  justify-items: center;
  width: max-content;
  padding: 10px;
  margin: 10px 0px 10px 00px;
  border-style: solid;
  
}